<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.Quicksilver.NostromoInterface</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nostromo Interface</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>QSPlugIn</key>
	<dict>
		<key>qsversion</key>
		<string>3900</string>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Interfaces</string>
		</array>
		<key>description</key>
		<string>Provides a wide interface</string>
		<key>extendedDescription</key>
		<string>&lt;h2 id=&quot;nostromo&quot;&gt;Nostromo&lt;/h2&gt;

&lt;p&gt;This provides a wide interface, suited to displaying longer names and/or details for items in your catalog.&lt;/p&gt;

&lt;p&gt;The &amp;#8220;Customize&amp;#8221; panel in the Appearance preferences allows you to set colors from several themes. This interface uses and respects Quicksilver&amp;#8217;s bezel colors (also configurable in the Appearance prefs). As such, the &amp;#8220;themes&amp;#8221; are not persistent, but the individual colors are. This allows you to use one of the built-in options as a starting point, but tweak individual colors to your liking if needed.&lt;/p&gt;

&lt;p&gt;To put it another way, the &amp;#8220;Customize&amp;#8221; panel is only used to &lt;strong&gt;set&lt;/strong&gt; colors. Do not expect to see the last theme you used selected the next time you open the panel.&lt;/p&gt;

&lt;p&gt;&lt;a href=&quot;https://github.com/skurfer/Nostromo/issues&quot;&gt;Report bugs&lt;/a&gt; on GitHub.&lt;/p&gt;

&lt;p&gt;&amp;#8220;Nostromo&amp;#8221; is the name of the ship in &lt;em&gt;Alien&lt;/em&gt; (1979).&lt;/p&gt;</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSCommandInterfaceControllers</key>
		<dict>
			<key>QSNostromoInterfaceController</key>
			<string>QSNostromoInterfaceController</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSNostromoPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSNostromoPrefPane</string>
				<key>description</key>
				<string>Nostromo interface preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>Nostromo</string>
				<key>nibBundle</key>
				<string>com.qsapp.Quicksilver.NostromoInterface</string>
				<key>nibName</key>
				<string>QSNostromoPrefPane</string>
				<key>type</key>
				<string>hidden</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
