<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.qsapp.Quicksilver.NostromoInterface</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Nostromo Interface</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string></string>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Rob McBroom</string>
		<key>categories</key>
		<array>
			<string>Interfaces</string>
		</array>
		<key>description</key>
		<string>Provides a wide interface</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSCommandInterfaceControllers</key>
		<dict>
			<key>QSNostromoInterfaceController</key>
			<string>QSNostromoInterfaceController</string>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSNostromoPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSNostromoPreferences</string>
				<key>description</key>
				<string>Nostromo interface preferences</string>
				<key>icon</key>
				<string></string>
				<key>name</key>
				<string>Nostromo</string>
				<key>nibBundle</key>
				<string>com.qsapp.Quicksilver.NostromoInterface</string>
				<key>nibName</key>
				<string>QSNostromoPrefPane</string>
				<key>type</key>
				<string>hidden</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
